body {
  margin: 0;
}

.navbar {
  background-color: burlywood;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0px 15px;
}
