body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  background-color: pink;
  text-decoration: none;
  color: black;
  padding: 15px 30px;
  border-radius: 30px;
  position: relative;
  border: 2px solid white;
  
}

.box span{
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  border: 2px solid white;
  color:white;
  background-color: green;
}