/* Bu CSS dosyasıyla web sayfanızın stilini belirleyebilirsiniz */

body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.signupForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parent {
    margin-bottom: 20px;
}



input[type="text"] {
    width: 100%;
    padding: 5px 3px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px auto;
}

.message {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.message.success {
    color: green;
}

.message.error {
    color: red;
}


.username.success{
    border: 1px solid green;
}

.username.error{
    border: 1px solid red;
}
