body{
    font-family: "Roboto", sans-serif;
}
div{
    width: 50%;
}

h1{
    font-size: 100px;
    font-weight: 400;  
    /* font-weight : Kalınlığa etki eder; */
    color:blue;
}

h2{
    font-size: 50px;
    color:yellow;
}


h3{
    color: chartreuse;
}

p{
    font-size: 20px;
}

#flexbox{
    text-shadow: 0 -10px green,0 -5px blue, 0 5px red, 0 10px yellow ;   
}

#summaryList
#summary{
    color: red;

}